<html> 
    <head>
        <title>The Music Store</title>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
            <script src="/assets/stor-e.js"></script>
            <link rel="stylesheet" href="/assets/style.css">
        

    </head>
    <body>
        <div id="master">
        <header>
            
            <div id="logo"> <img src="/assets/storelogo.png"> </div>
            <div id="tag-line"><img src="/assets/storel.png"></div>   
        </header>
        
        <nav>

            <ul>
                <li><a href="/store/<%= name %>" method="GET">Home</a></li>

                  <!-- <li><a href="/store/contact" method="GET">Contact</a></li> -->
                <li><a href="/store/login" method="GET">Login</a></li>
                               
                <li><a href="/" method="GET">SignOut</a></li>
                                               
            </ul>

        </nav>

        <form action="/store/cart/item/<%= name %>" method="POST" id ="cartf">
            <!-- <input type="text" name="naam" fixed> -->
            <h1 id="l">USER :- <input name="naam" id="name" value="<%= name %>" disabled>
            </input> </h1>  
            <button type="submit" id="carti">Cart</button>
        </form>

    
        
        <% for(var i=0;i<pisc.length;i++){ %>

            <div id="item">
                <div id="frame">
                    <img id="pic" src= <%= pisc[i].addres %> >
                </div>
                
                <p id="iname"><%= pisc[i].name %></p>   
                
                <p id="price">PRICE :-<%= pisc[i].price %></p>

                <button class="add" value="<%= pisc[i]._id %>">Add To Cart</button>
            </div>
            <% } %>
            </div>
        </div>
    </body>    
</html>